*,body{
    padding: 0;
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
/* Misc CSS */
a{
    text-decoration: none;
}
.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
 }
.navbar{
    padding: 10px 180px;
    background-color: rgba(0, 0, 0,0) !important;
    border-bottom: 0px solid rgb(196, 187, 187);
    position: absolute;
    left:0;
    z-index: 20;
    right: 0;
}
.non-home{
    background-color : rgb(6, 0, 26) !important;
    /* position: fixed; */
}

/* Navbar CSS */
.active{
    color:#eb6e34 !important;
}

.navbar-brand img{
    height: 60px;
}
.navbar-nav .nav-item{
    font-size:16px;
    padding-left: 20px;
    color:white;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #eb6e34;
}
.background-main{
    background-image: url(../images/SVS_Main_Bg.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    z-index: -20;
    top:0px;
    left: 0px;
    width:100%;
}
/* Homepage CSS */
.hero-carousel{
    background: rgba(0, 0, 0,0.8) ;
    height: 100vh;
    width: 100%;
    padding: 25vh;
    text-align: center;
}
.hero-carousel p{
    display: block;
    margin: auto;
}
.hero-carousel h1{
    padding:10px;
    font-size: 50px;
    color: white;
    font-weight: 500;
    padding-top: 30px;
    letter-spacing: 0px; 
}
.hero-carousel img{
    padding:0px;
    height: 200px;
}
.hero-carousel button{
    background-color: rgba(0,0,0,0);
    padding: 10px 40px;
    border-radius: 4px;
    border: 3px solid #eb6e34;
    color: #eb6e34;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.hero-carousel button:hover{
    background-color: #eb6e34;
    color: rgb(1, 19, 43);
}
/* Who Section CSS */
.who{
    background-color: rgb(1, 19, 43) ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.who-center{
    width: 1440px;
    min-height: auto;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: auto;
}
.who h2{
    font-size: 60px;
    padding-top: 20px;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    color:#eb6e34;
}
.who p{
    color: white;
    font-size: 20px;
    line-height: 2.1;
    padding:40px 80px;
    font-weight: 100;
}
.bold-text{
    font-weight: 900;
    color: #eb6e34;
}
.who button{
    padding: 8px 25px;
    border-radius: 2px;
    border: none;
    background-color: rgba(0, 0, 0,0.0);
    font-size: 24px;
    margin: 10px 30px;
    border: 3px solid #eb6e34;
    color: #eb6e34;
    font-weight: bolder;
}

.who button:hover{
    background-color: #eb6e34;
    color: rgb(1, 19, 43)
}

/* products section css */
.products{
    background-color: white;
    padding: 10px 10px;
    padding-bottom: 200px;

}
.products-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.products h2{
    font-size: 60px;
    padding:80px 40px;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
    color: #eb6e34;
}
.products-main a{
    text-decoration: none;
    margin:0px;
}
.product-wrapper{
    margin-top:40px;
    height: 250px;
}
.product-wrapper img{
    widows: 250px;
    height: 250px;
    margin: 0px 20px;
    overflow: hidden;
    background-color: rgba(1, 19, 43,1) ;
}

/* transition */
.product-wrapper .overlay{
    position: relative;
    top: -250px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    width:250px;
    height: 250px;
    margin: 0px 20px;
    display: flex;
    font-size: 25px;
    text-align: center;
}
.product-wrapper .text{
    color:white;
    margin:auto;
    display: block;
}
.product-wrapper .overlay:hover{
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 28px;
    transition-duration: 0.5s;
}
/* customers page */

.customers{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customers-center{
    width: 1440px; 
    margin: 10vh;
}
.customers h2,.contact-us h2{
    font-size: 60px;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    color:#eb6e34;
}


.customers-center .row{
    display: flex;
    margin: 0px;
    padding:0px;
    justify-content: center;
}
.customers .row img{
    height: auto;
    width: 150px;
    margin:60px 20px;
}
.customers p{
    text-align: center;
    margin-top: 20px;
}
/* contact-us section css */

.contact-us{
    background-color:rgb(1, 19, 43);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-center{
    margin:10vh;
    width: 100%;
}
.contact-center .row{
    margin: 0px;
    padding: 0px;
}
.contact-center h2{
    color:#eb6e34;
    padding: 0px;
    padding-bottom: 100px;
    font-size: 60px;
    margin: 0px;
}
#map{
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
}
.email-center{
    background: #eb6e34;
    height: auto;
    padding: 80px 80px;
    align-items: center;
    text-align: center;
}
.email-center img{
    height:200px;
}
.email-center h3{
    margin-top: 25px;
    font-size: 25px;
    color: white;
}
.email-center h3 img{
    height: 25px;
    filter: invert(100%);
}
/* footer css */
footer{
    background-color: #eb6e34;
    margin: 0px 0px;
    border: 0px;
}
footer .row{
    padding:50px 40px;
    margin: 0px;
}
footer .col-lg-10{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 60px;
}
footer .col-lg-10 p{
    width: 14em;
}
footer .col-lg-10 p{
    line-height: 28px;
    margin: 20px 10px;
    margin-top: 0px;
    font-size: 16px;
    color: white;
}
footer .col-lg-2{
    text-transform: uppercase;
    color: white;
    border-right: 2px solid rgb(1, 19, 43);
}
footer .col-lg-2 a{
    display: block;
    margin-bottom:15px;
    text-decoration: none;
    color:white;
}
.blue{
    color: rgb(1, 19, 43);
}

/* product description pages */

.product-desc{
    padding-top: 50px;
    min-height:80vh;
}

.product-desc .row{
    margin:0px;
    padding: 40px 60px;
    padding-right: 30px;
}

.product-desc h2{
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: bolder;
    color: #000000;
}
.product-desc hr{
    margin-bottom: 70px;
    color: gray;
}
.product-desc .col-lg-6{
    margin-right: 0px;
    align-items: flex-start;
    padding-right: 30px;
}
.product-desc .img-sec{
    padding-left: 100px;
}
.product-desc .col-lg-6 img{
    height:23vh;
    width:23vh;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 3px;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 3px 0px gray;
}
.product-desc .data{
    margin-bottom: 30px;
}
.product-desc .col-lg-6 h3{
    font-size: 22px;
    font-weight: bolder;
    color: rgb(48, 48, 56);
}

.product-desc .col-lg-6 p{
    color: gray;
}

.all-products{
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 80vh;
    padding:12vh;
}

.all-products .nav-link{
    border-radius: 0px ;
    background: rgba(1, 19, 43,1);
    color: white;
}
.all-products .nav-link.active{
    color: black !important;
    background: #eb6e34;
}
.all-products .mainhead{
    font-size: 50px;
    margin: 50px 0px;
    font-weight: bolder;
    color: rgb(0,0,0);
    text-align: center;
    padding: 30px;
    background-color: rgb(173, 188, 211);
    border-bottom:10px solid #010f3d;
}
.all-products .background-img{
    height: 200px;
    position: absolute;
    margin:60vh;
    opacity: 0.1;
    z-index: -500;
}

.all-products .nav-tabs{
    border-bottom: none;
}
.nav-tabs button{
    margin-right: 5px;
}

.product-desc .head{
    font-size: 30px !important;
    padding-bottom: 20px; 
}
.product-desc .head2{
    color: #000000;
    font-weight: 500;
}

/* Responsive Code */

@media screen and (max-width: 900px){

.row{
    margin: 0px;
}
.navbar{
    padding: 10px 30px;
    background-color: rgba(0, 0, 0,.5) !important;

}

.background-main{
    background-image: url(../images/Product_Icons/tubes.jpeg);
    background-size: cover;
    width: 100%;
}
.hero-carousel{
    padding: 25vh 5vh;
    height: 90vh;
}
.hero-carousel h1{
    font-size: 40px;
}
.hero-carousel img{
    height: 150px;
}
.who{
    display: block;
    padding: 30px 0px;
    min-height: 100vh;
}
.who h2{
    font-size: 40px;
}
.who p{
    padding: 10px 40px;
    text-align: center;
}
.who-center{
    width: 100%;
    min-height: 80vh;
}
.who button{
    margin:20px;
}

.products h2{
    font-size: 40px;
    padding: 40px;
    padding-bottom: 20px;
    margin: 0px;
}
.customers h2,.contact-us h2{
    font-size: 40px;
}
.customers{
    display: block;
}
.customers-center{
    width: 100%;
    margin: 0px;
    padding: 30px 0px;
}
.email{
    display: block;
}
.email-center{
    padding: 70px;
}
.email h3{
    font-size:15px;
}
footer .col-lg-2{
    border-right: none;
    border-bottom: 2px solid rgb(1, 19, 43);
}
footer .col-lg-10{
    padding-left: 0px;
    padding-top: 40px;
}
.non-home{
    background-color : rgb(6, 0, 26) !important;
    /* position: fixed; */
}
.all-products{
    padding: 100px 40px;
}
.product-desc .img-sec{
    padding-left: 10px;
}
.product-desc .col-lg-6{
    margin-right: 0px;
    align-items: flex-start;
}
.product-desc .col-lg-6 img{
    height: 15vh;
    width: 15vh;
    margin: 10px;
}
.nav-tabs .nav-link{
    margin: 10px;
}
.all-products .background-img{
    display: none;
}
}